h4,h3 {
    font-family: 'Prompt', sans-serif;
    font-size: 16px;
    font-weight: bolder;
}
p {
    font-family: 'Prompt', sans-serif;
    font-size: 12px;
    font-weight: bolder;
}
/* Important part */
.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    height: 80vh;
    overflow-y: auto;
}